#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.video {
  width: 100%;
  height: 100%;
}

.icon {
  position: fixed;
  left: 40%;
  top: 40%;
  min-height: 7rem;
  color:white;
  text-shadow: 1px 1px 5px black;
 }
 .footer{
  background: #272727 !important;
  width: 100%;
 }

